// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-caption {
  color: #826767;
}

.pricing_area {
  margin: 70px;
}




// div {
//   border: 2px solid red;
// }

.front_image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.front_text { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 30%; 
   margin: 10%;
   color: #826767;
   float: left;
   font-size: 220%;
   // font-weight: bold;
}

// h1 {     
//   font-size: 2em;
//   top: 200px;     
//   left: 0;    
//   width: 30%;     
//   margin: 10%;   
// }

.how_it_work {
  margin: 11% 0 0 0;
}
.how_it_work h1 {
    font-size: 40px;
    margin-bottom: 10%;
}


