<header class="navbar navbar-fixed-top transparent header">
  <div class="container">

    <%= link_to image_tag("kensho_logo.png"), '#', id:"kensho_logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Find a Coach",     '#' %></li>
        <li><%= link_to "Become a Coach",   '#' %></li>
        <li><%= link_to "Contact",          '#' %></li>
      </ul>
    </nav>
  </div>
</header>